header {
  display: flex;
  height: 520px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  background-color:#D89709;
  background-image: url(http://www.transparenttextures.com/patterns/foggy-birds.png);
}

.avatar {
  padding: 150px 0 0 0;
}