 .new-tweet {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 1em;
  width: 100%;
 }

 .validation-errors {
  border: 2px solid #FA2600;
  border-radius: 10px;
  background-color: #FFA494;
  margin-bottom: 0.5em;
  padding: 0.5em;
 }

 #post-tweet {
  display: flex;
  flex-direction: column;
  width: 100%
 }

 #tweet-text {
  display: flex;
  border-style: hidden;
  border-bottom: 0.2em solid #4056A1;
  background-color: #f4f1ec;
  line-height: 1;
  resize: none;
 }

 .new-tweet-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  font-family: 'Bungee', sans-serif;
 }

button {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
 }

