.tweet-container {
  margin-bottom: 30px;
}

.tweet {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 75%;
  height: 250px;
  border: 2px solid #545149;;
  margin: 2em 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.tweet:hover {
  box-shadow: #B6B3AB;
 }

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweeter-info {
  display: flex;
  height: 40px;
}

#username {
  opacity: 0.5;
}

.posted-tweet {
  display: flex;
  border-bottom: 5px solid #545149;
}

.tweet-foot {
  display: flex;
  justify-content: space-between;
}