.tweet-container {
  margin-bottom: 1em;
  align-self: flex-end;
  width: 100%
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #545149;
  border-radius: 10px;
  margin: 2em 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.tweet:hover {
  box-shadow: 5px 5px #B6B3AB;
  transition: 0.3s ease-in-out;
 }

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.tweeter-info {
  display: flex;
align-items: center;
}

.post-avatar {
  height: 40px;
  padding-right: 10px;
}

#username {
  opacity: 0.5; /* this isnt working */
}

.posted-tweet {
  display: flex;
  border-bottom: 5px solid #545149;
  word-wrap: break-word; /* this isnt working */
}

.tweet-foot {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

#flag:hover {
  color: #D89709;
}

#retweet:hover {
  color: #D89709;
}

#heart:hover {
  color: #D89709;
}


