.tweet-container {
  margin-bottom: 1em;
  align-self: flex-end;
  width: 100%;
}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 0.1em solid #545149;
  border-radius: 0.5em;
  margin: 2em 0 0 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
 }

.tweet:hover {
  box-shadow: 0.3em 0.3em #B6B3AB;
  transition: 0.3s ease-in-out;
 }

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.75em;
}

.tweeter-info {
  display: flex;
  align-items: center;
}

.post-avatar {
  height: 1.75em;
  padding-right: 0.5em;
}

.username {
  opacity: 0.5;
}

.posted-tweet {
  display: flex;
  border-bottom: 0.2em solid #545149;
  padding-left: 0.5em;
  padding-right: 0.5em;
  word-wrap: break-word; /* this isnt working */
}

.tweet-foot {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#flag:hover {
  color: #D89709;
}

#retweet:hover {
  color: #D89709;
}

#heart:hover {
  color: #D89709;
}


